
 body,html{
    background-color: rgba(219, 135, 39, 0.897);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
} 



form {
    /* Sólo para centrar el formulario a la página */
    position: absolute;
    width: 400px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background: rgba(0, 0, 0, .3);
    font-family: cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor{
    background-image: url(../../config/images/fondo.png);
    background-size: 100%;
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
 }

form .ingresar {
    text-align: center;
    color: #EDA135;

}

input {
    display: block;
    padding: 10px;
    width: 95%;
    font-size: 20px;
    background-color: #EFEFEF;
}

input[type="submit"]{
    background: linear-gradient(#FFDA63, #FFB940);
    border: 0;
    color: brown;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}

input[type="submit"]:hover{
    opacity: 1;
}

input[type="submit"]:active{
    transform: scale(0.95);
}

.piePagina{
    margin: 5px 0px 0px 0px;
    padding: 10px;
    width: 100%;
    clear: both;
    background: rgba(0, 0, 0, .3);
}

